RESEND_API_KEY=re_replace_with_resend_api_key
KTAF_EMAIL_FROM=KTAF Registration <registration@ktaf.krd>
KTAF_EMAIL_REPLY_TO=registration@ktaf.krd
KTAF_SITE_URL=https://ktaf.krd
ALLOWED_ORIGINS=https://ktaf.krd,https://www.ktaf.krd,http://localhost:3000
